<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Duelist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DuelistTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9798E3A61BD299160024B791</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9798E3BB1BD299160024B791</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9798E3C61BD299160024B791</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B62AB4D317DF318500887F3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
